body{
    margin: 0;
    padding: 0
}
*{
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.sidenav{
    background-color: #fafafa;
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
    border-right: 2px solid rgb(209, 206, 206);
    padding: 1rem;
}

.main{
    margin-left: 260px;
    width: 100%;
}

.p__16{
    padding: 1rem;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
}
.sidenav li{
    margin-bottom: 1rem;
}

.box{
    width: 100px;
    height: 100px;
    background-color:orange;
    margin: 24px auto;
}

/* Modal */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5)
}

.modal{
    margin: 36px auto;
    width: 300px;
    background-color:#fff;
    border-radius: 10px;
    z-index: 10;
}
.modal-footer{
    border-top: 1px solid rgba(0,0,0,.12);
    padding: 1rem;
    text-align: right;
}

/* Accordion */
.accordion{
    background-color: #eee;
}
.acc__header{
    cursor: pointer;
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.acc__body{
    background-color: #fafafa;
    overflow: hidden;
}

/* Tabs */
.tabs{
    border-radius: 10px;
}
.tabs__header{
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tabs__header li{
    padding: 1rem;
    flex: 1;
    margin: 0;
    cursor: pointer;
    position: relative;
}
.active__tab{
    background-color: #eee;
}
.underline{
    height: 2px !important;
    width: 100%;
    background-color:green;
    position: absolute;
    bottom: 0;
    left: 0;
}
.tabs__body{
    padding: 1rem
}

/* SlideShow */
.grid__center{
    display: grid; 
    place-content: center;
    padding: 1rem;
    height: 100%;
}
.slideshow__container{
    height: 70vh;
    width: 60vw;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.slideshow{
    height: 100%;
    width: 100%;
}
.slideshow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slideshow__container .prev, .slideshow__container .next{
    width: 40px;
    height: 50px;
    color: #fff;
    position: absolute;
    text-decoration: none;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slideshow__container .prev{
    top: 50%;
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.slideshow__container .next{
    top: 50%;
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.slideshow__container .dots{
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.8rem;
}
.slideshow__container .dots .dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideshow__container .dots .dot div{
    width: 11px;
    height: 11px;
    background-color:green;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}



/* scroll-behavior: smooth;

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
} */